.App-body {
  text-align: center;
  background-color: papayawhip;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #5f695e;
}

.container {
  min-width: 40vw;
  padding: 2rem;
  box-shadow: 0rem 2rem 4rem rgb(0 0 0 / 30%);
  background: white;
}

.App-link {
  color: #61dafb;
}

/* adding css styling - yb */

.App-header p {
  color: #606b5e;
  font-weight: bold;
  font-size: 30px;
}

.main-form input{
  /* background-color: #4CAF50; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 3rem;
  width: 18rem;
  font-size: 18px;
}

.main-form button{
  background-color: #798777;
  color: white;
  padding: 6px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main-form {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.input-form {
  flex-basis: 80%;
}

.list {
  /* display: flex; */
  font-size: 20px;

}

.task {
  display: flex;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  margin: 0.8rem 0;
  padding: 0.4rem;
}

.task button{
  border: 1px solid red;
  border-radius: 50%;
  background-color: white;
  color: red;
  font-size: 12px;
}

/* end of adding css styling - yb */
